{{!  just using generic var names/ tags that i will need to change }}
{{! this is for the detail page when the book is clicked}}
<main>
  <section class='book-details-cover'>
    <img src='{{book.book_cover}}' alt='{{book.title}}' />
  </section>
  <div class='book-details-body'>
    <p class='book-details-title'>{{book.title}}</p>
    <p class='book-details-author'>{{book.author}}</p>
    <p class='book-details-sypnosis'>
      {{book.synopsis}}
    </p>
    <button id='write-review' class='write-review-btn'>Write Review</button>
    <div id='review-box' class='review-box'>
      <textarea
        id='review-text'
        placeholder='Please write your review here...'
      ></textarea>
      <button id='submit-btn'>Submit</button>
    </div>
  </div>

  <section class='reviews-section'>
    <p class='review-section-title'>Reviews</p>
    <div class='review-list'>
      {{#each book.reviews}}
        <div class='review-item'>
          <p class='review-rating'>Review Rating: {{review_rating}}</p>
          <p class='review-content'>
            {{review_text}}
          </p>
          <p class='review-username'>User: {{user_id}}</p>
        </div>
      {{/each}}
    </div>
  </section>
</main>

<script src='/js/writeReview.js'></script>