{{!  just using generic var names/ tags that i will need to change }}
{{! this is for the detail page when the book is clicked}}

<div class="bookpagecont">
<section class="bookinfo">
  <h2>{{title}}</h2>
  <img src="{{book.book_cover}}" alt="book cover"></img>
  <p id="author">{{book.author}}, {{book.release_date}}</p>
  <p>{{book.synopsis}}</p>

</section>
</div>
