{{!  just using generic var names/ tags that i will need to change }}
{{! this is for home page list of books depending on genre area}}

<!--<div class = "genre">
    <h2>{{genreTitle}}</h2>
    <div class = "booksinlist"> 
        {{#each books}}
        <div class="book">
            <img src="{{imageURL}}" alt = "{{title}}">
            <p>{{title}}</p>
        </div>
        {{/each}}
    </div>
</div> -->


<body>
    <div>
        {{#each books}}

        <div id="book-{{@index}}">
            <h3><a href="/book/{{id}}">{{title}}</a></h3>
            <p>{{synopsis}}</p>
        </div>
        {{/each}}
    </div>
</body>