{{!  just using generic var names/ tags that i will need to change }}
{{! this is for home page list of books depending on genre area}}

<body>

  <div class='books'>
    {{#each books}}
      <a href='/book/{{id}}'>
        <div class='book'>
          <img class='book-cover' src='{{book_cover}}' alt='{{title}}' />
          <div class='book-body'>
            <p class='book-title'>{{title}}</p>
            <p class='book-author'>{{author}}</p>
          </div>
        </div>
      </a>
    {{/each}}
  </div>

</body>