<body>
  {{#each books}}
  <div class="book-details">
    <h2>{{title}}</h2>
    <img src="{{book_cover}}" alt="{{book.title}}"></img>
    <p>synopsis: {{synopsis}}</p>
    <p>Author: {{author}}</p>
  </div>

  <div class="reviews">
    <ul>

      <h3>Reviews:</h3>
      {{#each reviews}}
      <li>
        <p>{{this.review_text}} - by {{this.username}}</p>
        <p>Rating: {{review_rating}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
  {{/each}}

  <div class="add-review">
    <h3>Add a Review:</h3>
    <form action="/review" method="POST">
      <input type="hidden" name="book_id" value="{{book.id}}">
      <textarea name="review_text" placeholder="Write your review"></textarea>
      <label for="rating">Rating:</label>
      <select name="review_rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button type="submit">Submit Review</button>
    </form>
  </div>



</body>